﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">My Grocery List Application</h1>
    <p class="lead">Simple CRUD application.</p>
  </div>
</div>
