﻿@model IEnumerable<GroceryList_MVVM.Models.Grocery>

@{
    ViewData["Title"] = "Index";
}

<div class="row justify-content-center">
    <div class="col-auto">
<h1 class="text-center text-primary">My Grocery List</h1>
        <p class="text-center">
            Add
            <a asp-action="Create"><i style="color:forestgreen;" class="bi bi-plus-square align-content-center"></i></a>
        </p>
    <table class="table table-responsive table-hover table-bordered">
        <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i></a>
                <a asp-action="Edit" asp-route-id="@item.Id"><i style="color: goldenrod;" class="bi bi-pencil-square"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id"><i style="color:red;" class="bi bi-x-square"></i></a>
            </td>
        </tr>}
    </tbody>
</table>
</div>
</div>
